<h1> Ingrese a su cuenta</h1>

<form [formGroup]="userForm">
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input formControlName="email" type="text" class="form-control"
                [ngClass]="{'is-invalid': emailControlIsInvalid }"
                value="email@example.com">

            <div class="invalid-feedback">
           <ng-container *ngIf="emailControl.errors?.['required']">
            Este campo es requerido
            </ng-container>
            <ng-container *ngIf="emailControl.errors?.['email']">
                El valor ingresado no es un email valido
                </ng-container>
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input formControlName="password" type="password" class="form-control" id="inputPassword">
        </div>
    </div>

    <button [disabled]="userForm.invalid" (click)="onSubmit()" class="btn btn-primary" type="button">Enviar</button>
</form>

